section{

    text-align: justify;
    margin: 20px;
    max-width: 900px;
    background-color: rgb(221, 221, 221);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 4px 5px rgb(135, 140, 156);

}

h2{

    font-size: 28px;
    margin-bottom: 20px;

}

section img{

    height: 600px;
    width: max-content;

}

section ul {

    list-style: none;

}

section ul li{

    padding: 20px;

}

section ul li:hover{

    color: white;
    background-color: rgb(255, 0, 0);
    border-radius: 20px;

}